
<div class="row-fluid">
	  <div class="span6" style="width:60%; float:left;">
		  <h3>Chatroom</h3>
	    <table class="table" style="width:100%; float:left;">
		    <tbody>
					<tr>
						<td><b>Created by<b></td>
						<td><b>Message<b></td>
						<td><b>Created date<b></td>
					</tr>
					<% @messages.each do |message| %>
					<tr>
						<td><%= link_to message.content, message_path(message) %></td>
						<td><%= link_to message.content, message_path(message) %></td>
						<td><%= message.created_at.strftime("%m/%d/%Y %h/%m/%a") %></td>
					</tr>
					<% end %>
		    </tbody>
	    </table>
    </div>
  </div>